.home {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(./../assets/header.jpg);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./../assets/header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.home header {
  height: 70vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home header p {
  color: #fff;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  width: 860px;
}

.home article.hero-1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #101231;
  padding: 2rem 0;
}

.home article.hero-1 .cards {
  width: 420px;
  height: 432px;
  border-radius: 20px;
  font-size: 40px;
  font-weight: bold;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: 1rem 1.5rem;
  margin: 20px;
}

.home article.hero-1 .card-1 {
  background: linear-gradient(136.61deg, #69e2d8 0%, #6c37e5 100%);
}

.home article.hero-1 .card-2 {
  background: linear-gradient(136.61deg, #e796b4 0%, #eb3971 100%);
}

.home article.hero-1 .card-2 figure {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.home article.hero-1 .card-2 figure p {
  margin: 20px 0;
  font-size: 40px;
  font-weight: bold;
  color: #000;
}

.home article.hero-1 .card-2 figure figcaption {
  height: 90%;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  font-size: 20px;
  font-weight: normal;
  color: #000;
}

.home article.hero-1 .card-3 {
  background: linear-gradient(136.61deg, #f8ce4b 0%, #f3ad4b 100%);
}

.home article.hero-1 .card-3 figure {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.home article.hero-1 .card-3 figure p {
  margin: 20px 0;
  font-size: 40px;
  font-weight: bold;
  color: #000;
}

.home article.hero-1 .card-3 figure figcaption {
  height: 90%;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  font-size: 20px;
  font-weight: normal;
  color: #000;
}
/*# sourceMappingURL=Home.css.map */