// $theme-colors: (
//   "main": #101231,
// );

// @import "./../../node_modules/bootstrap/scss/bootstrap";

nav {
  width: 100%;
  height: 96px;
  background-color: #101231;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;


  .navbar-header {
    display: flex;
    align-items: center;

    img.logo {
      width: 64px;
      height: auto;
    }

    a.navbar-brand {
      color: #fff;
      font-size: 24px;
      font-weight: bold;
      text-decoration: none;
      margin-left: 26px;
    }
  }

  .navbar-navigation {
    a.nav-link {
      color: #fff;
      font-size: 16px;
      text-decoration: none;
      margin-left: 20px;
      width: 90px;
    }

    a.link-active {
      font-weight: bold;
    }
  }
}
